<div class="card">
  <div class="card-header">
    <h2 class="header-title">Usuarios</h2>
    <button *ngIf="permises.add" (click)="addUsuario()" class="add-button">
      Añadir Usuario
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID Usuario</th>
            <th>Usuario</th>
            <th>Nombre Público</th>
            <th>Rol</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of listaUsuario">
            <td>{{usuario.id_usuario}}</td>
            <td>{{usuario.usuario}}</td>
            <td>{{usuario.nombre_publico}}</td>
            <td>{{usuario.rol}}</td>
            <td>
              <button mat-icon-button *ngIf="permises.edit" (click)="editUsuario(usuario)">
                <mat-icon style="color: black; background-color: #F5C518;">mode_edit</mat-icon>
              </button>
              <button mat-icon-button *ngIf="permises.delete" (click)="deleteUsuario(usuario)">
                <mat-icon style="color: black; background-color: #F5C518;">delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary" (click)="goBack()">Volver a la página principal</button>
  </div>
</div>
