.custom-card {
    width: 500px;
    margin: auto;
    background-color: #222;
    color: white;
  }
  
  mat-card-content {
    padding: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  mat-error {
    color: red;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }