<!-- <body *ngIf="movie">
  <div class='card'>
    <div class='card_left'>
      <img [src]="movie | movieImage" alt="movie.title" mat-card-image>
    </div>
    <div class='card_right'>
      <h1>{{movie.title}}</h1>
      <div class='card_right__details'>
        <ul>
          <li>{{movie.release_date | slice: 0:4}}</li>
          <li>{{movie.runtime}} min</li>
          <li>
            <ng-container *ngFor="let genre of movie.genres; let i = index;">
              <span>{{genre.name}}</span>
              <span *ngIf="i !== movie.genres.length - 1"> - </span>
            </ng-container>
          </li>
          <li *ngIf="movie.adult; else notAdult">18</li>
          <ng-template #notAdult>
            <li>7</li>
          </ng-template>
        </ul>
        <div class='card_right__review'>
          {{movie.overview | puntitos:500}}
        </div>
        <div class="favStar">
          <button (click)="favorito()" [color]="!isFavorito ? 'primary' : 'warn' " mat-icon-button>
            <mat-icon>{{ isFavorito ? 'favorite' : 'favorite_border' }}</mat-icon>
          </button>
          <mat-list-item class="icon-and-text">
            <mat-icon matListItemIcon style="color: #F5C518;">star</mat-icon><strong style="color: white;">{{movie!.vote_average}}</strong>
          </mat-list-item>
        </div>
        <button mat-flat-button class="back" (click)="goBack()" style="background-color: #F5C518; margin-left: 40px;">
          <mat-icon>arrow_back</mat-icon>
          <strong style="color:black;">Volver a la página principal</strong>
        </button>
      </div>
    </div>
  </div>
  <div class="related-movies-container">
    <h2>Películas relacionadas</h2>
    <div class="flex flex-wrap movie-card-container">
      <div *ngFor="let movie of listaMovie.slice(indice, indice + 5)" class="movie-card">
        <movies-movie-card-tiny [routerLink]="['/movies', movie.id]" [movie]="movie"></movies-movie-card-tiny>
      </div>
    </div>
    <button (click)="mostrarAnteriores()" [disabled]="indice === 0">&#8592; Anteriores</button>
    <button (click)="mostrarSiguientes()" [disabled]="indice >= listaMovie.length - 5">Siguientes &#8594;</button>
  </div>
</body> -->

<iframe [src]="getCurrentVideoUrl()" width="560" height="315" frameborder="0" allowfullscreen></iframe>
<button (click)="playNext()">Siguiente</button>
<button (click)="playBefore()">Anterior</button>



