.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Crea columnas automáticas */
  grid-gap: 20px; /* Espacio entre las películas */
}

.movie-card {
  width: 100%; /* Asegura que las tarjetas de película ocupen todo el espacio disponible */
}
