<div class="black-background">
  <h1>Trailers más populares</h1>
  <div class="videos-container">
    <div class="video-controls">
      <button (click)="changeVideo(-1)" class="navigation-button"><mat-icon>keyboard_arrow_left</mat-icon></button>
      <video controls autoplay [src]="'assets/videos/' + videos[indiceVideos]" width="640" height="360"></video>
      <button (click)="changeVideo(1)" class="navigation-button"><mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
  </div>
  <h1>Listado de Películas</h1>
  <mat-divider></mat-divider>
  <div class="movies-container">
    <div class="flex flex-wrap">
      <div *ngFor="let movie of listaMovies" class="movie-item">
        <movies-movie-card [routerLink]="['/movies', movie.id]" [movie]="movie"></movies-movie-card>
      </div>
    </div>
  </div>

  <div class="center-button">
    <button mat-stroked-button color="primary" (click)="verMasPeliculas()" style="width: auto;">Cargar más resultados</button>
  </div>
</div>
