<div style="background-color: black; height: auto;">
  <div>
    <h3>Buscador</h3>
    <mat-form-field class="full-width">
      <mat-label>Buscador de Películas</mat-label>
      <input
        type="search"
        matInput
        [formControl]="searchInput"
        (keydown.enter)="searchMovie()"
      >
    </mat-form-field>
  </div>

  <div class="movies-container">
    <div class="flex flex-wrap">
      <div *ngFor="let movie of peliculas">
        <movies-movie-card [routerLink]="['/movies', movie.id]" [movie]="movie"></movies-movie-card>
      </div>
    </div>
  </div>

</div>
